.name-input,
.name-button,
.input {
  width: 100%;
}

.name-japanese {
  display: flex !important;
  align-items: center;
  font-size: 1.5em;
  font-family: monospace;
  background-color: #636363 !important;
  color: white !important;
}
