<div class="ui segment">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="ui form">
    <div class="field">
      <label>FILTER</label>
      <input name="search" formControlName="search" />
    </div>
    <div class="filters">
      <div class="ui checkbox options-checkbox">
        <input type="checkbox" formControlName="hideCompleted" />
        <label>Hide Completed</label>
      </div>
      <div class="ui checkbox options-checkbox">
        <input type="checkbox" formControlName="hideNotCompleted" />
        <label>Hide 0% Progress</label>
      </div>
      <div class="field">
        <select class="sortBy" formControlName="sortBy">
          <option value="">Sort By</option>
          <option value="nameId">Name ID</option>
          <option value="linesCount">Lines Said</option>
          <option value="timeUpdated">Last Updated</option>
        </select>
      </div>
      <div class="field">
        <select class="sortOrder" formControlName="sortOrder" placeholder="Sort Type">
          <option value="">Sort Type</option>
          <option value="1">Ascending</option>
          <option value="-1">Descending</option>
        </select>
      </div>
    </div>
    <div class="options-filter">
      <div></div>
      <div class="options-length">{{ names.length }} found</div>
      <div class="options-submit">
        <button class="ui button primary">Filter</button>
      </div>
    </div>
  </form>
</div>

<ng-container *ngIf="!loading; else loader">
  <div>
    <div class="names-pagination" *ngIf="names.length">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <ng-container *ngIf="names.length; else nothing">
      <div class="ui segment raised" *ngFor="let name of (names | paginate: { itemsPerPage: 10, currentPage: page })">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <input hidden name="nameId" [(ngModel)]="name.nameId" />
          <input hidden name="_id" [(ngModel)]="name._id" />
          <input hidden name="japanese" [(ngModel)]="name.japanese" />

          <div class="ui three column stackable grid ">
            <div class="four wide column game-text name-japanese ">
              {{ name.japanese }}
            </div>
            <div class="ten wide column">
              <div class="ui labeled fluid input">
                <div class="ui label">{{ name.nameId }}</div>
                <input
                  name="english"
                  class="name-input"
                  [(ngModel)]="name.english"
                  type="text"
                  placeholder="Enter Name"
                />
              </div>
            </div>
            <div class="two wide column">
              <button class="ui button primary name-button"><i class="save outline icon"></i>Save</button>
            </div>
          </div>
        </form>
      </div>
    </ng-container>

    <span class="names-pagination" *ngIf="names.length">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </span>
  </div>
</ng-container>

<ng-template #loader>
  <div class="ui segment loading">
    <p></p>
    <div class="ui active inverted dimmer">
      <div class="ui loader"></div>
    </div>
  </div>
</ng-template>

<ng-template #nothing>
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="search icon"></i>
      There are no names matching your query
    </div>
  </div>
</ng-template>
