.name-input,
.name-button,
.input {
  width: 100%;
}

.name-japanese {
  display: flex !important;
  align-items: center;
  font-size: 1.5em;
  font-family: monospace;
  background-color: #636363 !important;
  color: white !important;
}

.names-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr 1fr;
  @media only screen and (max-width: 720px) {
    grid: 1fr 1fr 1fr 1fr / 1fr;
  }
  align-items: center;
  grid-gap: 1em;
  margin-bottom: 10px;
  .field {
    margin: 0 !important;
  }
}
.options {
  &-filter {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    justify-items: center;

    @media only screen and (max-width: 720px) {
      grid: 1fr 1fr 1fr / 1fr;
      grid-gap: 10px;
    }
  }
  &-checkbox {
    justify-self: start;
    @media only screen and (max-width: 720px) {
      justify-self: center;
    }
  }
  &-submit {
    justify-self: end;
    @media only screen and (max-width: 720px) {
      justify-self: center;
    }
  }
}

.hide-label {
  color: #e8e8e8;
  height: 30px;
  pointer-events: none;
  @media only screen and (max-width: 720px) {
    display: none;
  }
}
