.wrapper {
  display: grid;
  grid: 1fr / 250px 1fr;
  height: 100%;
  .st-sidebar {
    border-radius: 0px !important;
    padding-bottom: 0px;
    margin-bottom: 0px !important;
  }
  .navlink {
    display: block;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid transparent;
    &.active {
      border-bottom: 2px solid #4183c4;
    }
  }
  .navigation {
    position: sticky;
    top: 0px;
  }
}
