<div class="ui segment inverted st-sidebar">
  <div class="navigation">
    <div class="header-st">
      <div class="logo">
        <div class="ui label blue big">Sega Tools (Kenzan)</div>
      </div>
    </div>
    <div class="navlinks">
      <div class="navlink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/"><i class="ui icon home"></i> Home</a>
      </div>
      <div class="navlink" routerLinkActive="active">
        <a routerLink="/login"><i class="ui icon lock"></i> Login</a>
      </div>
      <div class="ui divider"></div>
      <div class="navlink" routerLinkActive="active">
        <a routerLink="/messages"><i class="ui icon comment"></i> Messages</a>
      </div>
      <div class="navlink" routerLinkActive="active">
        <a routerLink="/names"><i class="ui icon group"></i> Names</a>
      </div>
      <div class="ui divider"></div>
      <div class="navlink" routerLinkActive="active">
        <a routerLink="/unique"><i class="ui icon pencil"></i> Unique</a>
      </div>
    </div>
  </div>
</div>
