<div class="ui segment mt">
  <h3 class="header ui">Users</h3>
  <table class="ui celled table structured mt ">
    <thead>
      <tr>
        <th rowspan="2" class="four wide">ID</th>
        <th rowspan="2">Name</th>
        <th rowspan="2">Created</th>
        <th colspan="2">Access Level</th>
        <th rowspan="2">Actions</th>
      </tr>
      <tr>
        <th>Admin</th>
        <th>Editor</th>
      </tr>
    </thead>

    <tbody *ngFor="let user of users; let userIndex = index">
      <tr [ngClass]="{ disabled: !!auth.isCurrentUser(user._id) }">
        <td data-label="Id">
          {{ user._id }}
        </td>
        <td data-label="Name">
          {{ user.name }} <span class="label ui ml" *ngIf="!!auth.isCurrentUser(user._id)">You</span>
        </td>
        <td data-label="Created">{{ user.createdAt | date: 'dd/MM/yyyy hh:mm' }}</td>
        <td data-label="Admin">
          <div class="ui toggle checkbox" [ngClass]="{ disabled: !!auth.isCurrentUser(user._id) }">
            <input
              type="checkbox"
              name="admin"
              (change)="onChange(userIndex, $event)"
              [checked]="user.personas.includes('admin')"
            />
            <label></label>
          </div>
        </td>
        <td data-label="Editor">
          <div class="ui toggle checkbox" [ngClass]="{ disabled: !!auth.isCurrentUser(user._id) }">
            <input
              type="checkbox"
              name="editor"
              (change)="onChange(userIndex, $event)"
              [checked]="user.personas.includes('editor')"
            />
            <label></label>
          </div>
        </td>
        <td data-label="Actions">
          <button type="button" class="ui button primary fluid" (click)="onSubmit(user)">Save</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
