.edit-grid {
  display: grid;
  grid: 160px 75px 1fr 75px / 1fr;
  height: 100%;
}

.header-segment {
  margin-bottom: 0em;
}
.chapter-select {
  margin: 1em 0px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.english-msg-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    margin-bottom: 1rem;
    margin-left: 20px;
  }
}

.japanese-msg-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header {
    margin: 0px !important;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header {
    margin-bottom: 0em !important;
  }
}
