<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="ui form">
  <div class="edit-grid" *ngIf="isLoaded">
    <div class=" ui segment header-segment">
      <div class="top">
        <div class="ui header" *ngIf="!isApproving; else loader">
          {{ message.fileName }}
          <label class="label ui" [ngClass]="{ green: !!message.proofRead, red: !message.proofRead }">
            {{ message.proofRead ? 'Approved' : 'Not Approved' }}</label
          >
          <div class="ui sub header">{{ message.lines.length }} lines</div>
        </div>
        <button
          type="button"
          *ngIf="!isApproving && !!auth.isRole('admin')"
          (click)="toggleApprove()"
          class="ui button"
          [ngClass]="{ green: !message.proofRead, red: !!message.proofRead }"
        >
          {{ !message.proofRead ? 'Approve' : 'Reject' }}
        </button>
      </div>
      <select class="chapter-select" formControlName="chapterName">
        <option *ngFor="let item of chapters" [ngValue]="item">{{ item }}</option>
      </select>
      <a
        class="ui label"
        [routerLink]="['/names']"
        [queryParams]="{ nameId: name.nameId }"
        *ngFor="let name of message.names"
      >
        {{ name.japanese }} <span *ngIf="!!name.english">({{ name.english }})</span>
      </a>
    </div>
    <app-navigation class="navigation" [next]="message.nextMessageId" [prev]="message.prevMessageId"></app-navigation>
    <div class="edit-form" formArrayName="lines">
      <ng-container *ngFor="let line of getControls(); let i = index" [formGroupName]="i">
        <div class="ui segment" *ngIf="message.lines[i].text.japanese; else divider">
          <div class="ui two column stackable grid">
            <div class="column">
              <div class="japanese-msg-header">
                <h4 class="header">Japanese</h4>
                <div>
                  <div class="ui label blue">{{ message.lines[i].count }}</div>
                  <div class="ui label"><i class="comment icon"></i> {{ getName(message.lines[i].speakerId) }}</div>
                </div>
              </div>
              <pre class="game-text">
              {{ message.lines[i].text.japanese }}
            </pre
              >
            </div>
            <div class="column field">
              <div class="english-msg-header">
                <h4>English</h4>
                <span class="mini ui button primary icon" (click)="onPreview(i)"><i class="ui icon eye"> </i> </span>
              </div>
              <textarea formControlName="english" rows="4"></textarea>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <app-navigation class="navigation" [next]="message.nextMessageId" [prev]="message.prevMessageId"></app-navigation>
  </div>
</form>
<app-preview></app-preview>

<ng-template #divider>
  <div class="ui divider"></div>
</ng-template>

<ng-template #loader>
  <div class="ui active inverted dimmer">
    <div class="ui loader"></div>
  </div>
</ng-template>
