<div class="navigation">
  <div class="ui buttons">
    <button
      (click)="onPrev()"
      [ngClass]="{ disabled: !this.prev }"
      type="button"
      class="ui labeled icon button blue"
    >
      <i class="left chevron icon"></i>
      Previous
    </button>
    <button class="ui button" [ngClass]="{ disabled: !isChanged }">
      <i class="save outline icon"></i>
      Save
    </button>
    <button
      (click)="onNext()"
      [ngClass]="{ disabled: !this.next }"
      type="button"
      class="ui right labeled icon button blue"
    >
      Next
      <i class="right chevron icon"></i>
    </button>
  </div>
</div>
