.st-grid {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 2em;
  .segment:not(.item-array) {
    margin: 0px !important;
  }
  input.ng-invalid.ng-touched {
    background-color: #fff6f6 !important;
    border-color: #e0b4b4 !important;
    color: #9f3a38 !important;
  }
  .error-message {
    color: #db2828 !important;
    font-size: 0.85714286rem;
  }
  .item-array-container {
    overflow: auto;
    max-height: 310px;
  }
  .additional-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.9em;
    label {
      font-size: 0.9em !important;
    }
    .delete-item {
      cursor: pointer;
      font-size: 0.9em;
      color: #db2828 !important;
    }
  }
}
