<app-search></app-search>
<div *ngIf="!loading" class="header ui">Found {{ paginator.data.total }} messages</div>
<ng-container *ngIf="init && paginator.data.total">
  <div class="messages-pagination">
    <pagination-controls id="server" (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</ng-container>

<ng-container *ngIf="!loading; else loader">
  <div class="ui placeholder segment" *ngIf="!messages.length && !loading">
    <div class="ui icon header">
      <i class="search icon"></i>
      There are no messages matching your query
    </div>
  </div>
  <app-item
    *ngFor="
      let message of (messages
        | paginate
          : {
              id: 'server',
              itemsPerPage: paginator.data.limit,
              currentPage: paginator.data.page,
              totalItems: paginator.data.total
            })
    "
    [message]="message"
  >
  </app-item>
</ng-container>

<ng-container *ngIf="init && paginator.data.total">
  <div class="messages-pagination">
    <pagination-controls id="server" (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</ng-container>

<ng-template #loader>
  <div class="ui segment loading">
    <p></p>
    <div class="ui active inverted dimmer">
      <div class="ui loader"></div>
    </div>
  </div>
</ng-template>
