.home-image {
  @media only screen and (max-width: 720px) {
    width: 100%;
  }
}

.st-grid {
  display: grid;
  justify-items: center;
  grid: 1fr 1fr / 1fr 2fr;
  grid-gap: 1em;
  width: 100%;
  .data-block {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.progress-block {
  width: 100%;
  grid-column: 1 / 3;
  display: grid;
  grid: 1fr / 1fr 1fr;
  grid-gap: 10px;
  padding: 0em !important;

  .overall-progress {
    display: grid;
    align-items: center;
    justify-items: center;
    grid: 50px 90px 90px / 1fr;
    grid-gap: 10px;
  }

  .message-progress {
    display: grid;
    align-items: center;
    justify-items: center;
    grid: 50px 90px 90px 90px / 1fr;
    grid-gap: 10px;
    margin-bottom: 1em;
  }
  .names-progress {
    display: grid;
    align-items: center;
    justify-items: center;
    grid: 50px 90px 90px / 1fr;
    grid-gap: 10px;
    margin-bottom: 1em;
  }
}
.progress-header {
  margin-bottom: 0em !important;
  text-transform: uppercase;
  font-size: 1.28571429em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statistic {
  margin: 0px !important;
}

.infobox {
  width: 100%;
}
