<div class="st-grid">
  <div><img class="home-image" src="/assets/home.jpg" /></div>
  <div class="ui segment data-block">
    <h4 class="ui center aligned icon header">
      <i class="circular question icon"></i>
      <div class="mt">WHAT IS THIS?</div>
    </h4>
    <div class="mt">A <strong>non-profit</strong> fan translation patch for Yakuza Kenzan.</div>
    <div class="mt">
      <i class="envelope outline icon"></i>Contact email:
      <a href="mailto:yakuzapatcher@gmail.com">yakuzapatcher(at)gmail.com</a>
    </div>
  </div>
  <div class="ui segment progress-block" *ngIf="init">
    <div class="message-progress">
      <div class="ui placeholder progress-header">Messages Progress</div>
      <app-infobox
        icon="question"
        class="infobox"
        number="1"
        label="Lines Translated"
        [value]="stats.messages.translated"
        [maxValue]="stats.messages.total"
      >
      </app-infobox>
      <app-infobox
        icon="question"
        class="infobox"
        number="2"
        label="Unique Lines Translated"
        [value]="stats.messages.translatedUnique"
        [maxValue]="stats.messages.totalUnique"
      >
      </app-infobox>
      <app-infobox icon="question" number="3" class="infobox" label="Files Count" [value]="stats.messages.filesCount">
      </app-infobox>
    </div>
    <div class="names-progress">
      <div class="ui placeholder progress-header">Names Progress</div>
      <app-infobox
        icon="question"
        class="infobox"
        label="Names Translated"
        [value]="stats.names.translated"
        [maxValue]="stats.names.total"
      >
      </app-infobox>
      <app-infobox icon="question" class="infobox" label="Files Count" [value]="stats.names.filesCount"> </app-infobox>
    </div>
  </div>
</div>
